
@{
    ViewBag.Title = "Guide";
}

<h2>Guide</h2>

<p>
    League Manager is a website that enables you to create and maintain your own football leagues.
</p>

<h4>Step 1</h4>

<p>
    The first step is to register with the Website, so that we know which Leagues belong to you.
    You can do that @Html.ActionLink("here", "Register", "Account")
</p>

<img src="@Url.Content("~/Content/Images/Register.png")"  width="657" height="326" />

<h4>Step 2</h4>

<p>
    Now you are ready to create you own Leagues. This is done in the MyLeagues section of the website.
    There is a link to this section in the Navigation Bar at the top of every page.
</p>

<img src="@Url.Content("~/Content/Images/MyLeagues.png")" width="649" height="340" />

<h4>Step 3</h4>

<p>
    To create a New League click on the "Create New League" link towards the top left of the page.
</p>

<img src="@Url.Content("~/Content/Images/CreateNewLeague1.png")" width="659" height="221" />
<img src="@Url.Content("~/Content/Images/CreateNewLeague2.png")" width="648" height="389" />

<h4>Step 4</h4>

<p>
    It's now time to add some teams to you League. The easiest way to do that is to Click on the Add
    New Team option at the right hand side of the row that summarises your League.
</p>

<img src="@Url.Content("~/Content/Images/AddTeam1.png")" width="658" height="260" />
<img src="@Url.Content("~/Content/Images/AddTeam2.png")" width="657" height="241" />

<h4>Step 5</h4>

<p>
    Once you have added your teams to your league you can now add matches between the teams. There is an
    Add Match option next to the Add Team option on the right hand side of your League's summary.
</p>

<img src="@Url.Content("~/Content/Images/AddMatch1.png")" width="658" height="292" />
<img src="@Url.Content("~/Content/Images/AddMatch2.png")" width="657" height="340" />

<h4>Step 6</h4>

<p>
    Congratulations, now your League table is ready to view and you can do this by clicking on the name of your League.
</p>

<img src="@Url.Content("~/Content/Images/ShowLeagueTable1.png")" width="658" height="288" />
<img src="@Url.Content("~/Content/Images/ShowLeagueTable2.png")" width="658" height="289" />





